<nav class="navbar" id="navbarr">    
    <ul class="list_inline">
        <li>
            <%= link_to "Homepage", root_path, class: "stretch" %> 
        </li>
        <li>
            <%= link_to "Projects", projects_path, class: "stretch" %> 
        </li>
        <li>
            <%= link_to "Publications", publications_path, class: "stretch" %> 
        </li>
        <li>
            <%= link_to "About", about_path, class: "stretch" %> 
        </li>
        <li>
            <%= link_to "Contact", contact_path, class: "stretch" %>   
        </li>
    </ul>
</nav>