<%= render "head" %>
<%= render "navbar" %>

<main class="center-main">
    <div class="page_spacing">
        <h1 class="h1_middle">Contact</h1>
    </div>
    <article style="text-align:center;">
        <a href="https://github.com/duggurd" target="_blank">
            <%= image_tag "GitHub_Logo", class:"contact_logo"%>
        </a>
        <a href="https://www.linkedin.com/in/alexander-haugerud/" target="_blank">
            <%= image_tag "LI-China-In-Bug.png", class:"contact_logo" %>
        </a>
    </article>
</main>

<%= render "footer" %>