<%= render "base/head" %>
<%= render "base/navbar" %>

<main style="margin-left:10%; margin-right:10%;">
    <section>
        <h1 class="h1_middle">Projects</h1>
        <ul>
            <% @projects.each do |project| %>
                <li>
                    <%= link_to project.name, admin_path(project.name) %>
                    <%= "Hidden" if project.hidden %>
                </li>
            <% end %>
        </ul>
        <%= link_to "New Project", new_admin_path %>
    </section>
    <section>
        <h1 class="h1_middle">Publications</h1>
        <ul>
            <% @publications.each do |publication| %>
                <li>
                    <%= link_to publication.name, adminpub_path(publication.name) %>
                    <%= "Hidden" if publication.hidden %>
                </li>
            <% end %>
        </ul>
        <%= link_to "New Publication", new_adminpub_path %>
    </section>
</main>

<%= render "base/footer" %>